
clone:
  depth: full
pipelines:
  default:
    - step:
        name: Deploy to Staging
        deployment: staging
        script:
          - git push https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP_NAME.git HEAD:master
    - step:
        name: Deploy to Produciton
        deployment: production
        trigger: manual
        script:
          - git push https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP_NAME.git HEAD:master
