amqp
asgiref
astroid
beautifulsoup4
billiard
boto3
botocore
celery
certifi
chardet
colorama
coverage
dj-database-url
Django
django-celery-beat
django-celery-results
django-cors-headers
django-debug-toolbar
django-ipware
django-json-widget
django-model-utils
django-money
django-storages
django-timezone-field
djangorestframework
docutils
entrypoints
Faker
flake8
googlemaps
gunicorn
html5lib
idna
isort
jmespath
kombu
lazy-object-proxy
lxml
mccabe
numpy
pandas
Pillow
psycopg2
py-moneyed
pycodestyle
pyflakes
pygeocoder
pylint
pylint-django
pylint-plugin-utils
python-crontab
python-dateutil
pytz
redis
requests
s3transfer
scipy
serpy
six
soupsieve
sqlparse
text-unidecode
typed-ast
urllib3
vine
webcolors
webencodings
whitenoise
wrapt
